@model CourseNet.Web.ViewModels.Course.CourseAllViewModel
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using CourseNet.Web.Infrastructure.Extensions
@using CourseNet.Services.Data.Interfaces

@inject IInstructorService InstructorService
@inject ICourseService CourseService
@{
    bool isUserInstructor = await InstructorService.InstructorExistsByUserId(User.GetId()!);
    
}

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImagePath" alt="Course Image">
        <div class="card-body text-center">
            <h4>@Model.Title</h4>
            <h6>Описание: <b>@Model.Description</b></h6>
            <h6>
                Цена:
                <b>@($"{Model.Price:f2}") лв.</b>
            </h6>
            <h6>(@(Model.IsEnrolled ? "Записан" : "Незаписан"))</h6>
            <br />
            <a asp-area="" asp-controller="Courses" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-success">Детайли</a>

            @if (User.Identity?.IsAuthenticated ?? false)
            {

                <a asp-area="" asp-controller="Courses" asp-action="Edit" asp-route-id="@Model.Id"
                   class="btn btn-warning">Редактирай</a>
                <p></p>
                <a asp-area="" asp-controller="Courses" asp-action="Delete" asp-route-id="@Model.Id"
                   class="btn btn-danger">Изтрий</a>
                <p></p>

                <form class="input-group-sm" asp-area="" asp-controller="Courses"
                      asp-action="" asp-route-id="@Model.Id" method="post">
                    <input class="btn btn-primary" type="submit" value="Запиши се" />
                </form>
                <p></p>
                <form asp-area="" asp-controller="Courses" asp-action="Leave"
                      asp-route-id="@Model.Id" method="post">
                    <input class="btn btn-danger" type="submit" value="Напусни курс" />
                </form>
            }
        </div>
    </div>
</div>