@model IEnumerable<EnrollViewModel>

@{
    ViewBag.Title = "Всичките записани курсове";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (Model.Any())
{
    <div class="list-group">
        @foreach (var enrollment in Model)
        {
            <div class="list-group-item">
                <img class="card-img-top" src ="@enrollment.ImageUrl" alt="Course Image"/>
                <div class="card-body text-center">
                    <h4>@enrollment.Title</h4>
                    <h6>Инструктор: <b>@enrollment.InstructorFullName</b></h6>
                    <h6>Email на инструктора <b>@enrollment.InstructorEmail</b></h6>
                    <h6>Записан от: <b>@enrollment.StudentFullName</b></h6>
                    <h6>Email на студента <b>@enrollment.StudentEmail</b></h6>
                </div>
            </div>
        }
    </div>
}