@using CourseNet.Services.Data.Interfaces
@using CourseNet.Web.Infrastructure.Extensions
@model IEnumerable<Lecture>

@inject IInstructorService InstructorService
@{
    bool isUserInstructor = await InstructorService.InstructorExistsByUserId(User.GetId()!);
}

@{
    ViewData["Title"] = "Всички лекции за курс";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

@if (Model.Any())
{
    <div class="list-group">
        @foreach (var lecture in Model)
        {
            <div class="list-group-item">
                <h4><b>Заглавие на лекцията: </b>@lecture.Title</h4>
                <p><i>@lecture.Description</i></p>
                <p><b>Дата: </b> @lecture.Date</p>
                @if (isUserInstructor)
                {
                    <a asp-area="" asp-controller="Lectures" asp-action="Delete" asp-route-id="@lecture.Id" class="btn btn-danger btn-sm">Премахване на лекцията</a>

                    <a class="btn btn-primary" href="/Materials/AllMaterialsForLecture?lectureId=@lecture.Id">Виж налични материали за лекцията</a>
                    
                    <a class="btn btn-primary" href="/Materials/Create?lectureId=@lecture.Id">Добави материал към лекцията</a>
                    }
            </div>
        }
    </div>
}
else
{
    <p class="text-center">Няма налични лекции за този курс.</p>
}