@using Microsoft.AspNetCore.Mvc.TagHelpers
@using CourseNet.Web.Infrastructure.Extensions
@using CourseNet.Services.Data
@using CourseNet.Services.Data.Interfaces
@model CourseDetailsViewModel

 @inject IInstructorService InstructorService
 @inject ICourseService CourseService
@{
    bool isUserInstructor = await InstructorService.InstructorExistsByUserId(User.GetId()!);
    bool isUserEnrolled = await CourseService.IsEnrolledByIdAsync(Model.Id, User.GetId()!);
}

@{
    ViewBag.Title = "Детайли за курса";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImagePath" alt="Course Image">
            
            <p></p>
            @if ((User.Identity?.IsAuthenticated ?? false) @* && (isUserInstructor || isUserEnrolled) *@)
            {
                <div class="col-4 border-0">
                    <h6 class="text-center">Лекции към курса:</h6>
                    <a class="btn btn-primary" href="/Lectures/Create?courseId=@Model.Id.ToUpper()">Натисни тук</a>
                </div>
            }
        </div>

        <div class="card col-8 border-0">
            <p>=<i>@(isUserEnrolled && !isUserInstructor ? "Записан" : "Незаписан")</i>=</p>
            <p style="font-size:25px;"><u>@Model.Title</u></p>
            <p>Описание: <b>@Model.Description</b></p>
            <p>
                Цена:
                <b>@($"{Model.Price:f2}") лв.</b>
            </p>
            <p>Категория: <b>@Model.Category</b></p>
            <p>Трудност:  <b>@Model.Difficulty</b></p>
            <p>Крайна дата: <b>@Model.EndDate</b></p>
            <div class="form-inline">
                @if (User.Identity?.IsAuthenticated ?? false)
                {
                    @if (isUserInstructor)
                    {
                        <a class="btn btn-primary" asp-controller="Courses" asp-action="Edit"
                           asp-route-id="@Model.Id">Редактирай</a>
                        <a class="ml-2 btn btn-danger" asp-controller="Courses" asp-action="Delete"
                           asp-route-id="@Model.Id">Изтрий</a>
                    }
                    <p></p>
                    @if (!isUserEnrolled)
                    {
                        @if (!isUserInstructor)
                        {
                            <form class="ml-2" asp-controller="Courses"
                                  asp-action="Enroll" asp-route-id="@Model.Id" method="post">
                                <input class="btn btn-primary" type="submit" value="Запиши се" />
                            </form>
                        }
                       
                    }
                    else
                    {
                        @if (!isUserInstructor && isUserEnrolled)
                        {
                            <form class="ml-2" asp-controller="Courses" asp-action="Leave"
                                  asp-route-id="@Model.Id" method="post">
                                <input class="btn btn-danger" type="submit" value="Напусни" />
                            </form>
                        }
                    }
                }
            </div>
            
            <p></p>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Информация за инструктор</h5>
                    <p class="card-text">Имейл: @Model.Instructor.Email</p>
                    <p class="card-text">Телефонен номер: @Model.Instructor.PhoneNumber</p>
                </div>
            </div>
        </div>
    </div>
</div>