@using Microsoft.AspNetCore.Mvc.TagHelpers
@using CourseNet.Web.Infrastructure.Extensions
@using CourseNet.Services.Data
@using CourseNet.Services.Data.Interfaces
@model CourseNet.Web.ViewModels.Course.CourseDetailsViewModel

@* @inject InstructorService InstructorService *@
@* @inject ICourseService CourseService
@{
    bool isUserInstructor = await InstructorService.InstructorExistsByUserId(User.GetId());

} *@

@{
    ViewBag.Title = "Детайли за курса";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImagePath" alt="Course Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Title</u></p>
            <p>Описание: <b>@Model.Description</b></p>
            <p>
                Цена:
                <b>@($"{Model.Price:f2}") лв.</b>
            </p>
            <p>Категория: <b>@Model.Category</b></p>
            <p><i>(@(Model.IsEnrolled ? "Записан" : "Незаписан"))</i></p>
            <div class="form-inline">
                @if (User.Identity?.IsAuthenticated ?? false)
                {

                    <a class="btn btn-warning" asp-controller="Courses" asp-action="Edit"
                       asp-route-id="@Model.Id">Редактирай</a>
                    <a class="ml-2 btn btn-danger" asp-controller="Courses" asp-action="Delete"
                       asp-route-id="@Model.Id">Изтрий</a>


                    @if (!Model.IsEnrolled)
                    {
                        <form class="ml-2" asp-controller="Courses"
                              asp-action="Enroll" asp-route-id="@Model.Id" method="post">
                            <input class="btn btn-primary" type="submit" value="Запиши се" />
                        </form>
                    }
                    else
                    {
                        <form class="ml-2" asp-controller="Courses" asp-action="Leave"
                              asp-route-id="@Model.Id" method="post">
                            <input class="btn btn-primary" type="submit" value="Напусни" />
                        </form>
                    }
                }
            </div>
            <p></p>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Информация за инструктор</h5>
                    <p class="card-text">Имейл: @Model.Instructor.Email</p>
                    <p class="card-text">Телефонен номер: @Model.Instructor.PhoneNumber</p>
                </div>
            </div>
        </div>
    </div>
</div>