@model AllCoursesQueryModel

@{
    ViewBag.Title = "Всички курсове";

    int previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    int maxPage = (int)Math.Ceiling((double)Model.TotalCourses / Model.CoursesPerPage);
}

<div class="container mt-4">
    <h2 class="text-center">@ViewBag.Title</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Category">Категория</label>
                <select asp-for="Category" class="form-control">
                    <option value="">Всички</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category">@category</option>
                    }
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="CoursesPerPage">Курсове/страница:</label>
                <select asp-for="CoursesPerPage" class="form-control">
                    <option value="3">3</option>
                    <option value="6">6</option>
                    <option value="9">9</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="CourseSorting">Сортиране:</label>
                <select asp-for="CourseSorting" class="form-control">
                    <option value="0">Най-нов</option>
                    <option value="1">Най-стар</option>
                    <option value="2">Цена (възходящ ред)</option>
                    <option value="3">Цена (низходящ ред)</option>
                    <option value="4">Незаписаните първо</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="SearchTerm">Търсене:</label>
                <div class="input-group">
                    <input asp-for="SearchTerm" class="form-control" placeholder="Търси курс тук">
                    <div class="input-group-append">
                        <button type="submit" id="btnSearch" class="btn btn-primary">Търсене</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p></p>
    @if (!Model.Courses.Any())
    {
        <h2 class="text-center mt-4">Няма курс, който да отговаря на този критерии!</h2>
    }

    <div class="row">
        @foreach (var course in Model.Courses)
        {
            <partial name="_CoursePartial" model="@course" />
        }
    </div>

    <div class="row mt-4">
        <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
            <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
               asp-controller="Courses"
               asp-action="Index"
               asp-route-currentPage="@previousPage"
               asp-route-category="@Model.Category"
               asp-route-searchTerm="@Model.SearchTerm"
               asp-route-sorting="@((int)Model.CourseSorting)"><< Предишна</a>
        </div>

        @{
            bool shouldNextPageBeDisabled = Model.CurrentPage == maxPage || !Model.Courses.Any();
        }

        <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-primary @(shouldNextPageBeDisabled ? "disabled" : string.Empty)"
               asp-controller="Courses"
               asp-action="Index"
               asp-route-currentPage="@(Model.CurrentPage + 1)"
               asp-route-category="@Model.Category"
               asp-route-searchTerm="@Model.SearchTerm"
               asp-route-sorting="@((int)Model.CourseSorting)">Следваща >></a>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function applyFilters() {
            var category = $("#Category").val();
            var coursesPerPage = $("#CoursesPerPage").val();
            var courseSorting = $("#CourseSorting").val();
            var searchTerm = $("#SearchTerm").val();

            window.location.href = "/Courses/Index?Category=" + category +
                "&CoursesPerPage=" + coursesPerPage +
                "&CourseSorting=" + courseSorting +
                "&SearchTerm=" + searchTerm;
        }

        $(document).ready(function () {
            $("#btnSearch").on("click", function (e) {
                e.preventDefault();
                applyFilters();
            });
        });
    </script>
}